%h2
  = @market.label
  .small
    MS #{ @market_state.timestamp.utc } 
    = surround '(', ')' do
      %time.timeago{:datetime => @market_state.timestamp.utc.iso8601}
        = time_ago_in_words(@market_state.timestamp.utc) 


= render 'market_stock_chart'

.row
  .col-lg-6
    %h4 Sell orders
    
    = render 'shared/order_book', :orders => @sell_orders

  .col-lg-6
    %h4 Buy orders

    = render 'shared/order_book', :orders => @buy_orders

.row

  %center
    = link_to 'Browse though historical orderbook states', market_market_states_path(@market.id)

- @accounts.each do |account|
  %h4 Account Trades #{account.label}

  - account_trades = account.trades_dataset.where(:market => @market).reverse_order(:timestamp)
  = render 'shared/account_trades', :account_trades => account_trades
