%h3 
  = link_to @market.label, market_path(@market.id)
  market trades

%table.table.table-striped.table-condensed.datatable
  %thead
    %tr
      %th Timestamp
      %th.text-right Quantity
      %th.text-right Price
      %th.text-right Total
  %tbody
    - @market_trades.each do |trade|
      %tr
        %td= trade.timestamp.in_time_zone('UTC')
        %td.text-right= quantity trade.quantity
        %td.text-right= bitcoin trade.price
        %td.text-right= bitcoin trade.total

= paginate @market_trades
