!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Crypto" 
    = csrf_meta_tags 
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js", :type => "text/javascript"}
    = stylesheet_link_tag "application", :media => "all" 
    / For third-generation iPad with high-resolution Retina display:
    / Size should be 144 x 144 pixels
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' 
    / For iPhone with high-resolution Retina display:
    / Size should be 114 x 114 pixels
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' 
    / For first- and second-generation iPad:
    / Size should be 72 x 72 pixels
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' 
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    / Size should be 57 x 57 pixels
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' 
    / For all other devices
    / Size should be 32 x 32 pixels
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' 


    = javascript_include_tag "application" 
    %script{:src => "http://code.highcharts.com/stock/highstock.js"}
    %script{:src => "http://code.highcharts.com/stock/modules/exporting.js"}


  :coffee
    $ ->
      reload_navbar_stats = () ->
        $('#navbar_stats').each () ->
          navbar_stats_ref = $(this)
          navbar_stats_ref.fadeOut(200)
          $.get "/partials/navbar_stats", (data) ->
            navbar_stats_ref.html data
            navbar_stats_ref.fadeIn(200)

        setTimeout reload_navbar_stats, 5000

      setTimeout reload_navbar_stats, 5000

  %body
    .navbar.navbar-inverse
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path} Crypto
        #navbar_stats.navbar-text.navbar-right
          = render 'shared/navbar_stats'
        -# .collapse.navbar-collapse.navbar-right
        -#   %ul.nav.navbar-nav
        -#     %li= link_to "Link1", "/path1"  
        -#     %li= link_to "Link2", "/path2"  
        -#     %li= link_to "Link3", "/path3"  
    .container
      .row
        .col-lg-9
          = bootstrap_flash 
          = yield 
        .col-lg-3


          %h4 Btc Markets
          .row
            - markets = CryptoTrader::Model::Market.where(:secondary_currency_code => 'BTC').order(:primary_currency_code).all
            - markets.each_slice(markets.count / 3) do |mpart|
              .col-lg-4
                %ul.nav.nav-pills
                  - mpart.each do |m|
                    %li
                      = link_to m.label, market_path(m.id)
          / /.well
        / /span
      / /row
      %footer
        %p &copy; Company 2013
    / /container
