%table#positions.table.table-small.table-hover
  %thead
    %th Currency
    %th Quantity
    %th Hold
    %th LTP
    %th ATP@10
    %th Base price
    %th Investment
    %th{:colspan=>2} Potential Profit (%)

  - positions = positions.sort_by {|p| -1*p.investment }
  - positions.each_with_index do |position, i|
    - next if position.currency_code == 'Points'
    %tr{:'data-toggle' => 'collapse', 
        :'data-target' => "#position_trades_#{position.currency_code}",
        :'data-parent' => "#positions",
        :'class' => (position.potential_profit >= 0.0) ? 'success' : 'danger'}
      %td= position.currency_code
      %td= "%.8f" % position.quantity
      %td= "%.8f" % position.hold
      %td= "%.8f" % position.last_trade_price
      %td= "%.8f" % position.avg_trading_price
      %td= "%.8f" % position.base_price
      %td= "%.8f" % position.investment
      %td= "%.8f" % position.potential_profit 
      %td= "%.2f%%" % position.potential_profit_perc

    %tr
      %td{colspan: 8}
        .collapse{:id => "position_trades_#{position.currency_code}"}
          = render 'shared/account_trades',
            :account_trades => position.trades_to_reach_balance.reverse,
            :no_thead => false
