%h4 
  Desired position

= render 'desired_portfolio', :desired_portfolio => @desired_portfolio


= cache(['positions', @last_data_collector_run, (current_user && current_user.id), ( current_admin && current_admin.id )]) do
  .row
    .col-lg-8
      %h4 
        Actual Position
    .col-lg-4
      %h4
        .text-right
          PV
          = bitcoin @portfolio.value_in_secondary_currency('BTC')
          BTC

  = render 'positions', :positions => @portfolio.positions

%h4 Recent actions
= render 'shared/bot_run_actions', :bot_run_actions => @bot_run_actions
        

%h4 Recent trades
= render 'shared/account_trades', :account_trades => @account_trades

