%h4 
  Desired position

= render 'desired_portfolio', :desired_portfolio => @desired_portfolio


= cache(['positions', system_info.last_bot_run, cache_key_logged_in_users]) do
  .row
    .col-lg-8
      %h4 
        Actual Position
    .col-lg-4
      %h4
        .text-right
          PV
          = bitcoin @portfolio.value_in_secondary_currency('BTC')
          BTC

  = render 'positions', :positions => @portfolio.positions

%h4 Recent bot actions

= render 'shared/bot_run_actions', :bot_run_actions => @bot_run_actions

-# = paginate @bot_run_actions, param_name: :bot_run_actions_page
        

%h4 Recent bot trades

= render 'shared/account_trades', :account_trades => @account_trades

-# = paginate @account_trades, param_name: :account_trades_page
