%h4 
  Desired position

-#= render 'desired_portfolio', :desired_portfolio => @desired_portfolio


.auto-refresh-partial{:'data-partial' => 'accounts_positions', :'data-frequency' => 10000}
  = cache([:accounts_positions, cache_key.server_state_for_account]) do
    = render 'positions', :portfolio => @portfolio

%h4 Last bot run actions

#bot_run_actions_last.auto-refresh-partial{:'data-partial' => 'bot_run_actions',
  :'data-frequency' => 10000,
  :'data-param_last_bot_run' => 1}
  = render 'shared/bot_run_actions', :bot_run_actions => @last_bot_run_actions

%h4 Recent bot actions

#bot_run_actions.auto-refresh-partial{:'data-partial' => 'bot_run_actions', :'data-frequency' => 10000}
  = render 'shared/bot_run_actions', :bot_run_actions => @bot_run_actions

-# = paginate @bot_run_actions, param_name: :bot_run_actions_page
        

%h4 Recent trades

#account_trades.auto-refresh-partial{:'data-partial' => 'account_trades', :'data-frequency' => 10000}
  = render 'shared/account_trades', :account_trades => @account_trades

-# = paginate @account_trades, param_name: :account_trades_page
